<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="employee-salary-table-container">
  <table class="app-table">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Overtime Amount</th>
        <th>Deduction Amount</th>
        <th>Basic Salary</th>
        <th>Net Salary</th>
        <th>Month</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      @for (report of filteredReports; track report.employeeId) {
        <tr>
          <!-- Employee Name -->
          <td>{{ report.employeeName }}</td>

          <!-- Department -->
          <td>{{ report.departmentName }}</td>

          <!-- Overtime Amount -->
          <td>{{ report.overtimeAmount | currency:'EGP':'symbol':'1.2-2' }}</td>

          <!-- Deduction Amount -->
          <td>{{ report.deductionAmount | currency:'EGP':'symbol':'1.2-2' }}</td>

          <!-- Basic Salary -->
          <td>{{ report.basicSalary | currency:'EGP':'symbol':'1.2-2' }}</td>

          <!-- Net Salary -->
          <td>{{ report.netSalary | currency:'EGP':'symbol':'1.2-2' }}</td>

          <!-- Month -->
          <td>{{ getMonthName(report.month) }}</td>

          <!-- Year -->
          <td>{{ report.year }}</td>
        </tr>
      }
    </tbody>
  </table>
</div> 